.section_nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(75, 190, 219);

    div{
        display: flex;
        flex-direction: block;
        align-items: center;
        margin: 5px;

        

        img {
            width: 450px;
        }

        p {
            color:$color-text;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
        }
    }
    
    @media (max-width:1500px){
        img{
            width: 400px;
            height: 450px;
        }
    }

    @media (max-width:1200px){
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            img{
                width: 800px;
                height: 500px;
            }
        }
    }

    @media (max-width:800px){
        div{
            img{
                width: 380px;

            }
        }
    }








    
}
